.about {
  position: sticky;
  top: var(--space-s);
  flex: 1;
  border-radius: 1rem;

  & .social-links {
    display: flex;
    justify-content: space-around;

    & a {
      color: var(--text-color);
    }
  }

  @media (--width-small) {
    & {
      position: unset;
    }
  }
}
