.feed-item {
  width: 100%;

  & .date {
    display: block;
  }

  & img {
    display: block;
    border-radius: 1rem;
    width: 100%;
  }

  & a {
    color: var(--color-text);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  & .feed-item__tag {
    display: inline-block;
    color: var(--feed-item-tag-color, var(--color-primary));

    &.feed-item__tag--video {
      --feed-item-tag-color: var(--color-youtube-red);
    }
  }
}

.feed {
  --flow-space: 0.5em;

  &.feed-archive {
    max-width: 60ch;
  }

  & h1, & h2 {
    font-size: calc(var(--font-size-3) * 1.5);
  }
}
