.intro {
  --intro-border-radius: 2rem;

  display: grid;
  align-items: center;
  grid-template: auto / 1fr 1fr;
  overflow: hidden;
  border-radius: 2rem;

  & .intro__text {
    grid-row: 1;
    grid-column: 1;
    padding-inline-start: 2rem;
    padding-block: 2rem;

    @media (--width-small) {
      & {
        grid-column: 1 / span 2;
      }
    }
  }

  & picture {
    grid-row: 1;
    grid-column: 2;
    justify-self: end;
    filter: drop-shadow(0 0 5px rgb(0 0 0 / 20%));
    align-self: end;

    @media (--width-small) {
      & {
        grid-row: 2;
        grid-column: 1 / span 2;
      }
    }

    & img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  & .intro__background {
    grid-row: 1 / span 2;
    grid-column: 1 / span 2;
    height: 100%;
    border-radius: 2rem;
    filter: blur(15px);
    z-index: -1;
    background:
      radial-gradient(
        circle at bottom left,
        var(--color-gradient-1) 0%,
        var(--color-background-transparent) 30%
      ),
      radial-gradient(
        circle at top right,
        var(--color-gradient-2) 0%,
        var(--color-background-transparent) 20%
      ),
      radial-gradient(
        circle at center,
        var(--color-gradient-3) 0%,
        var(--color-background-transparent) 60%
      );
  }

  & h1 {
    font-weight: 900;
    font-size: calc(var(--font-size-base) * 2.5);
  }
}
