.main-content {
  display: flex;
  align-items: flex-start;
  gap: var(--space-s);

  @media (--width-small) {
    & {
      flex-direction: column-reverse;
      align-items: stretch;
    }
  }

  & > * {
    flex: 1;
  }
}
