.post {
  margin-inline: auto;
  max-width: 80ch;
  line-height: 1.8;

  & h1 {
    font-size: var(--font-size-enormous);
    line-height: 1.2;
    view-transition-name: var(--transition-name);
  }

  & img {
    display: block;
    width: 70%;
    height: auto;
    margin-inline: auto;
  }

  & :is(h2, h3, h4, h5) {
    --flow-space: 3rem;

    & + * {
      --flow-space: 0.5rem;
    }
  }
}
