.projects {
  h1 {
    font-size: calc(var(--font-size-3) * 1.5);
  }

  .project {
    gap: var(--space-m);

    picture {
      flex: 1;
      min-width: 20rem;
      width: 100%;

      img {
        width: 100%;
        border-radius: 1rem;
        height: 15rem;
        aspect-ratio: 16/9;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}
