:root {
  /*
   * Typography
   */
  --line-height: 1.5;
  --modular-scale: 1.2;
  --font-size-base: clamp(1rem, 0.7rem + 1vi, 1.2rem);
  --font-size-tiny: calc(var(--font-size-base) * 0.7);
  --font-size-small: calc(var(--font-size-base) * 0.8);
  --font-size-1: calc(var(--font-size-base) * var(--modular-scale));
  --font-size-2: calc(var(--font-size-1) * var(--modular-scale));
  --font-size-3: calc(var(--font-size-2) * var(--modular-scale));
  --font-size-enormous: calc(var(--font-size-base) * 3);
  --font-weight-thin: 300;
  --font-weight-bold: 500;

  /*
   * Colors
   */
  --color-primary: #022292;
  --color-secondary: white;
  --color-background: oklch(98% 0.03 105);
  --color-background-transparent: oklch(98% 0.03 105 / 40%);
  --color-gradient-1: #c9ffd1;
  --color-gradient-2: #e932d9;
  --color-gradient-3: #2fb8fb;
  --color-gradient-4: #52ecaf;
  --color-muted: dimgrey;
  --color-text: #2b3a4c;
  --color-youtube-red: red;

  /*
   * Spacing
   */
  --space-xs: 0.5rem;
  --space-s: 1rem;
  --space-m: calc(var(--line-height) * 1rem);
  --space-l: calc(var(--line-height) * 2rem);
}

/*
 * Custom media
 */
@custom-media --width-small (width < 75rem);

/*
 * Fallback colors
 */
@supports not (background-color: oklch(0% 0 0)) {
  :root {
    --color-background: rgb(251 250 227);
    --color-background-transparent: rgb(251 250 227 / 40%);
  }
}

@font-face {
  font-family: 'Mona Sans';
  src:
    url('/fonts/MonaSans.woff2') format('woff2 supports variations'),
    url('/fonts/MonaSans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 100%;
}

@view-transition {
  navigation: auto;
}

html {
  position: relative;
  font-size: 100%;
  color: var(--color-text);
  min-height: 100vh;
}

h1 {
  font-size: var(--font-size-3);
}

h2 {
  font-size: var(--font-size-2);
}

h3 {
  font-size: var(--font-size-1);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  font-family: Arial, sans-serif;
  font-size: var(--font-size-base);
  line-height: var(--line-height);
  letter-spacing: 0.05px;
  word-spacing: -0.8px;
  background-color: var(--color-background);
}

body.fonts-loaded {
  font-family: 'Mona Sans', sans-serif;
  line-height: var(--line-height);
  font-size: var(--font-size-base);
  letter-spacing: unset;
  word-spacing: unset;
}

a {
  color: var(--color-primary);
  text-decoration-color: var(--color-primary);
  text-decoration-thickness: max(0.08em, 1px);
  text-underline-offset: 0.1em;

  &[data-variant='external']::after {
    content: '↗';
    font-size: 0.6em;
  }
}

blockquote {
  color: var(--color-muted);
  padding: var(--space-s);
  border-inline-start: 3px solid currentColor;
}

ul, ol {
  list-style-position: inside;
}

sup, sub {
  font-size: var(--font-size-tiny);
}

input {
  accent-color: var(--color-primary);
}

figcaption {
  text-align: center;
  font-size: var(--font-size-small);
}
