:root {
  /*
   * Typography
   */
  --line-height: 1.5;
  --modular-scale: 1.2;
  --font-size-base: clamp(1rem, 2.5vw, 1.2rem);
  --font-size-tiny: calc(var(--font-size-base) * 0.7);
  --font-size-small: calc(var(--font-size-base) * 0.8);
  --font-size-1: calc(var(--font-size-base) * var(--modular-scale));
  --font-size-2: calc(var(--font-size-1) * var(--modular-scale));
  --font-size-3: calc(var(--font-size-2) * var(--modular-scale));
  --font-size-enormous: calc(var(--font-size-base) * 3);
  --font-weight-thin: 300;
  --font-weight-bold: 500;

  /*
   * Colors
   */
  --color-primary: #022292;
  --color-secondary: white;
  --color-neutral: oklch(98% 0.03 105);
  --color-neutral-transparent: oklch(98% 0.03 105 / 40%);
  --color-muted: grey;
  --color-text: #2b3a4c;
  --color-youtube-red: red;

  /*
   * Spacing
   */
  --space-s: 1rem;
  --space-m: calc(var(--line-height) * 1rem);
  --space-l: calc(var(--line-height) * 2rem);
}

/*
 * Custom media
 */
@custom-media --width-small (width < 75rem);

/*
 * Fallback colors
 */
@supports not (background-color: oklch(0% 0 0)) {
  :root {
    --color-neutral: rgb(251 250 227);
    --color-neutral-transparent: rgb(251 250 227 / 40%);
  }
}

@font-face {
  font-family: 'Mona Sans';
  src:
    url('/fonts/MonaSans.woff2') format('woff2 supports variations'),
    url('/fonts/MonaSans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 100%;
}

html {
  position: relative;
  font-size: 16px;
  background-color: whitesmoke;
  color: var(--color-text);
  min-height: 100vh;

  @media (--width-small) {
    & {
      margin: 0
    }
  }
}

h1 {
  font-size: var(--font-size-3);
}

h2 {
  font-size: var(--font-size-2);
}

h3 {
  font-size: var(--font-size-1);
}

body {
  font-size: var(--font-size-base);
}

a {
  color: var(--color-primary);
  text-decoration-color: var(--color-primary);
  text-decoration-thickness: max(0.08em, 1px);
  text-underline-offset: 0.05em;

  &[data-variant='external']::after {
    content: '↗';
  }
}

blockquote {
  color: var(--color-muted);
  padding: var(--space-s);
  border-inline-start: 3px solid currentColor;
}

ul, ol {
  list-style-position: inside;
}

sup, sub {
  font-size: var(--font-size-tiny);
}
