.flow > * + * {
  margin-block-start: var(--flow-space, var(--space-m));
}

.wrapper {
  max-width: 60rem;
  margin-inline: auto;
}

.margin-x-auto {
  margin-inline: auto;
}

.margin-x-s,
.margin-s {
  margin-inline: var(--space-s);
}

.margin-x-m,
.margin-m {
  margin-inline: var(--space-m);
}

.margin-x-l,
.margin-l {
  margin-inline: var(--space-l);
}

.margin-y-s,
.margin-s {
  margin-block: var(--space-s);
}

.margin-y-m,
.margin-m {
  margin-block: var(--space-m);
}

.margin-y-l,
.margin-l {
  margin-block: var(--space-l);
}

.padding-x-s,
.padding-s {
  padding-inline: var(--space-s);
}

.padding-x-m,
.padding-m {
  padding-inline: var(--space-m);
}

.padding-x-l,
.padding-l {
  padding-inline: var(--space-l);
}

.padding-y-s,
.padding-s {
  padding-block: var(--space-s);
}

.padding-y-m,
.padding-m {
  padding-block: var(--space-m);
}

.padding-y-l,
.padding-l {
  padding-block: var(--space-l);
}

.margin-bottom-s {
  margin-block-end: var(--space-s);
}

.margin-bottom-m {
  margin-block-end: var(--space-m);
}

.margin-bottom-l {
  margin-block-end: var(--space-l);
}

.margin-top-s {
  margin-block-start: var(--space-s);
}

.margin-top-m {
  margin-block-start: var(--space-m);
}

.margin-top-l {
  margin-block-start: var(--space-l);
}

.margin-left-s {
  margin-inline-start: var(--space-s);
}

.margin-left-m {
  margin-inline-start: var(--space-m);
}

.margin-left-l {
  margin-inline-start: var(--space-l);
}

.margin-right-s {
  margin-inline-end: var(--space-s);
}

.margin-right-m {
  margin-inline-end: var(--space-m);
}

.margin-right-l {
  margin-inline-end: var(--space-l);
}

.padding-bottom-s {
  padding-block-end: var(--space-s);
}

.padding-bottom-m {
  padding-block-end: var(--space-m);
}

.padding-bottom-l {
  padding-block-end: var(--space-l);
}

.padding-top-s {
  padding-block-start: var(--space-s);
}

.padding-top-m {
  padding-block-start: var(--space-m);
}

.padding-top-l {
  padding-block-start: var(--space-l);
}

.padding-left-s {
  padding-inline-start: var(--space-s);
}

.padding-left-m {
  padding-inline-start: var(--space-m);
}

.padding-left-l {
  padding-inline-start: var(--space-l);
}

.padding-right-s {
  padding-inline-end: var(--space-s);
}

.padding-right-m {
  padding-inline-end: var(--space-m);
}

.padding-right-l {
  padding-inline-end: var(--space-l);
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: end;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.flex-1 {
  flex: 1;
}
