.flow > * + * {
  margin-block-start: var(--flow-space, var(--space-m));
}

.wrapper {
  max-width: 56rem;
  margin-inline: auto;
}

.margin-x-auto {
  margin-inline: auto;
}

.margin-x-s,
.margin-s {
  margin-inline: var(--space-s);
}

.margin-x-m,
.margin-m {
  margin-inline: var(--space-m);
}

.margin-x-l,
.margin-l {
  margin-inline: var(--space-l);
}

.margin-y-s,
.margin-s {
  margin-block: var(--space-s);
}

.margin-y-m,
.margin-m {
  margin-block: var(--space-m);
}

.margin-y-l,
.margin-l {
  margin-block: var(--space-l);
}

.padding-x-s,
.padding-s {
  padding-inline: var(--space-s);
}

.padding-x-m,
.padding-m {
  padding-inline: var(--space-m);
}

.padding-x-l,
.padding-l {
  padding-inline: var(--space-l);
}

.padding-y-s,
.padding-s {
  padding-block: var(--space-s);
}

.padding-y-m,
.padding-m {
  padding-block: var(--space-m);
}

.padding-y-l,
.padding-l {
  padding-block: var(--space-l);
}
