.flow > * + * {
  margin-block-start: var(--flow-space, var(--space-m));
}

.wrapper {
  max-width: 60rem;
  margin-inline: auto;
}

.margin-x-auto {
  margin-inline: auto;
}

.margin-x-s,
.margin-s {
  margin-inline: var(--space-s);
}

.margin-x-m,
.margin-m {
  margin-inline: var(--space-m);
}

.margin-x-l,
.margin-l {
  margin-inline: var(--space-l);
}

.margin-y-s,
.margin-s {
  margin-block: var(--space-s);
}

.margin-y-m,
.margin-m {
  margin-block: var(--space-m);
}

.margin-y-l,
.margin-l {
  margin-block: var(--space-l);
}

.padding-x-s,
.padding-s {
  padding-inline: var(--space-s);
}

.padding-x-m,
.padding-m {
  padding-inline: var(--space-m);
}

.padding-x-l,
.padding-l {
  padding-inline: var(--space-l);
}

.padding-y-s,
.padding-s {
  padding-block: var(--space-s);
}

.padding-y-m,
.padding-m {
  padding-block: var(--space-m);
}

.padding-y-l,
.padding-l {
  padding-block: var(--space-l);
}

.margin-bottom-s {
  margin-block-end: var(--space-s);
}

.margin-bottom-m {
  margin-block-end: var(--space-m);
}

.margin-bottom-l {
  margin-block-end: var(--space-l);
}

.margin-top-s {
  margin-block-start: var(--space-s);
}

.margin-top-m {
  margin-block-start: var(--space-m);
}

.margin-top-l {
  margin-block-start: var(--space-l);
}

.margin-left-s {
  margin-inline-start: var(--space-s);
}

.margin-left-m {
  margin-inline-start: var(--space-m);
}

.margin-left-l {
  margin-inline-start: var(--space-l);
}

.margin-right-s {
  margin-inline-end: var(--space-s);
}

.margin-right-m {
  margin-inline-end: var(--space-m);
}

.margin-right-l {
  margin-inline-end: var(--space-l);
}
